In [33]:
import pandas as pd

pokemon = pd.read_csv('pokemon.csv',usecols=["Pokemon"],squeeze=True)
pokemon.sort_values(ascending=False,inplace=True)

pokemon.sort_index(ascending=False,inplace=True)
# Slicing 
pokemon[100:101]
pokemon[-30:-10]
pokemon[50:]

670       Florges
669       Floette
668       Flabébé
667        Pyroar
666        Litleo
          ...
4      Charmeleon
3      Charmander
2        Venusaur
1         Ivysaur
0       Bulbasaur
Name: Pokemon, Length: 671, dtype: object

In [48]:
# For open csv file we need must give 2 argument squrezz=True
pokemon = pd.read_csv("pokemon.csv",index_col="Pokemon",squeeze=True) #make a colum index
pokemon.head()

pokemon[3]
pokemon[[100,200]]
pokemon["Unown"]
pokemon["Bulbasaur":"Pikachu"]  #Here include b to p

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Name: Type, dtype: object

In [54]:
pokemon = pd.read_csv("pokemon.csv",index_col="Pokemon",squeeze=True)
pokemon.sort_index(inplace=True) #Now we arrange this data
pokemon.head()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [66]:
pokemon.get(key="Bulbasaur")
pokemon.get(key=["Bulbasaur","Pikachu"])

Pokemon
Bulbasaur       Grass
Pikachu      Electric
Name: Type, dtype: object

In [68]:
# -------Math Function in Pandas------------

google = pd.read_csv("google_stock_price.csv",squeeze=True)

google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [70]:
# ------------count-----------
google.count()
len(google)

91

In [80]:
google.sum()

google.mean() #Avarage
google.sum()/google.count() #Avarage

google.min()
google.max()

google.std()

google.median() #This is for center Value

82.47

In [84]:
# Index min and min
google.idxmax()
google.idxmin()

11

In [92]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [95]:
# --------------Apply Function ---------------

def classify_per(number):
    if number<300:
        return "ok"
    elif number >= 300 and number <650:
        return "Satisfactory"
    else :
        return "Inredible"

google.apply(classify_per).tail(5)
google.apply(lambda stock_price: stock_price+1)

0     51.12
1     55.10
2     55.65
3     53.38
4     53.95
      ...
86    92.78
87    94.06
88    94.86
89    96.86
90    97.28
Name: Stock Price, Length: 91, dtype: float64

In [86]:
# ----------Particular count------------

pokemon = pd.read_csv("pokemon.csv",index_col="Pokemon",squeeze=True)

pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [88]:
# -----------Value_counts -------------

pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [90]:
pokemon.value_counts().sum() #Total number of value
pokemon.count()

721