In [3]:
import pandas as pd

nba = pd.read_csv("nba.csv")
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [18]:
# ------------------Brodcasting operator------------------
nba["Salary"]+5
nba["Age"]-5
nba["Weight"]*2
nba["Weight"]/5
# ------This is for replace--------
nba["Weight in KG"] = nba["Weight"]*2
nba

0      36.0
1      47.0
2      41.0
3      37.0
4      46.2
       ...
453    40.6
454    35.8
455    51.2
456    46.2
457     NaN
Name: Weight, Length: 458, dtype: float64

In [23]:
# This is for drop columns
nba.drop(columns=["Weight in KG"], axis=1,inplace=True)

In [29]:
# Drop Rows with Null values 

nba.dropna() #drop all thing
nba.dropna(how="any")
nba.dropna(how="all")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [35]:
nba[0:3,0:2]

TypeError: '(slice(0, 3, None), slice(0, 2, None))' is an invalid key