In [1]:
import pandas as pd

bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [2]:
# ------------------- Changing Value in specific Cell or row ------------

# Single value Change
bond.ix["Dr. No"]
bond.ix["Dr. No","Actor"] = "Sir Sean Connery"
bond.ix["Dr. No"]

h:\python\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
h:\python\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """
h:\python\lib\site-packages\ipykernel_launcher.py:6: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

Year                             1962
Actor                Sir Sean Connery
Director                Terence Young
Box Office                      448.8
Budget                              7
Bond Actor Salary                 0.6
Name: Dr. No, dtype: object

In [3]:
# Multiple value Change

bond.ix["Dr. No",["Box Office","Budget","Bond Actor Salary"]]
bond.ix["Dr. No",["Box Office","Budget","Bond Actor Salary"]]= [555,44,8]
bond.ix["Dr. No",["Box Office","Budget","Bond Actor Salary"]]

h:\python\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
h:\python\lib\site-packages\pandas\core\indexing.py:961: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return getattr(section, self.name)[new_key]
h:\python\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
h:\python\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """

Box Office           555
Budget                44
Bond Actor Salary      8
Name: Dr. No, dtype: object

In [4]:

# So we need ix[] method to change orginal dataframe

mask = bond["Actor"] == "Sean Connery"
bond[mask]
# This is reguler Method
bond[mask]["Actor"] = "Sir Sean Connery"

h:\python\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
# ------ Using ix[] method and Change orginal DataFrame

bond.ix[mask,"Actor"] = "Sir Sean Connery"
# We can use mask var for bond["Actor"]=="Roger Moore"
bond[bond["Actor"] == "Sir Roger Moore"]
roger = bond["Actor"]=="Sir Roger Moore" # Here Come all Details about Roger Moore
bond.ix[roger,"Actor"]  #Here Comes Just Actor name 
bond.ix[roger,"Actor"] = "Roger Moore" #Now Change the name
bond[bond["Actor"] == "Roger Moore"] #Now we see in orginal dataframe change

h:\python\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
h:\python\lib\site-packages\ipykernel_launcher.py:7: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  import sys
h:\python\lib\site-packages\ipykernel_launcher.py:8: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [6]:
mask1 = bond["Actor"] == "Pierce Brosnan"
bond.ix[mask1,"Actor"] = "S Pierce Brosnan"
bond[bond["Actor"] == "S Pierce Brosnan"] # Now we see the changeing Data Frame with actor Name

h:\python\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,S Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,S Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,S Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,S Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [7]:
# -------------Rename Index Labels or Columns in Pandas------------

# Here We use Dict

# -----For Columns-------
bond.rename(columns={"Year":"Release Date","Box Office":"Reveneu"},inplace=True)
bond.head()
# -----For Index--------
bond.rename(index={"Dr. No":"Doctor No","GoldenEye":"Golden Eye"},inplace=True)
bond

,Release Date,Actor,Director,Reveneu,Budget,Bond Actor Salary
Film,,,,,,
Doctor No,1962,Sir Sean Connery,Terence Young,555.0,44.0,8.0
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Golden Eye,1995,S Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,S Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,S Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,S Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [8]:
# ----------------------------------- Query()--------------------------------------
import pandas as pd

bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [9]:
# ----- Here We Change our Columns name " " to "_" for query ------------

bond.columns = [columns_name.replace(" ","_") for columns_name in bond.columns]
bond.columns

Index(['Year', 'Actor', 'Director', 'Box_Office', 'Budget',
       'Bond_Actor_Salary'],
      dtype='object')

In [10]:
# Query with conditions
bond.query(" Actor == 'Sean Connery' ")
bond.query(" Year >= 2000 ")
bond.query(" Box_Office >= 900 ")
bond.query(" Actor != 'Roger Moore' ")
bond.query(" Budget <= 100 ")
bond.query(" Budget <= 20 ")

# Two condition Both
bond.query(" Box_Office <= 500 and Actor == 'Roger Moore' ")
bond.query(" Actor in ['Timothy Dalton','George Lazenby'] ")
bond.query(" Actor not in ['Timothy Dalton','George Lazenby'] ")

bond.query(" Box_Office >= 500 and Actor == 'Sean Connery' ")
bond.query(" Box_Office >= 500 and Actor == 'Roger Moore'  ")

bond.query(" Box_Office >= 500 and Actor == ['Sean Connery','Roger Moore'] ")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

In [11]:
# sorting Value Then Query
bond.sort_values("Year",inplace=True)
bond[bond["Actor"] == "Sean Connery"]
bond.query(" Box_Office >= 500 and Actor == 'Sean Connery' ")
bond.query(" Year <= 1980 and Actor == ['Sean Connery','Roger Moore']")
bond.query(" Year <= 1970 and Actor == 'Sean Connery' and Box_Office >= 500 ")

bond.query(" Box_Office >= 500 ")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [36]:
# --------------- Delete/Drop()---------------------

bond.drop("A View to a Kill")
bond.drop("Casino Royale")

,Year,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,
Dr. No,1962,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,John Glen,373.8,53.9,7.8
A View to a Kill,1985,John Glen,275.2,54.5,9.1
The Living Daylights,1987,John Glen,313.5,68.8,5.2
Licence to Kill,1989,John Glen,250.9,56.7,7.9
GoldenEye,1995,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9
Quantum of Solace,2008,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Sam Mendes,726.7,206.3,NaN

In [37]:
bond.drop(["GoldenEye","Die Another Day","Dr. No"]) # Multiple Delete
# Deleteing Columns .. 0 for row , 1 for columns
bond.drop(['Box_Office','Actor'],axis=1)

# ------------------ This is perfect Droping -----------------
bond.drop(columns=["Box_Office","Year","Actor"],index=["Dr. No","Moonraker"])
 
bond.pop("Actor") # this pop method makes saparate the Actor columns
bond

KeyError: "['Actor'] not found in axis"